#video-upload{
    background-color: #c92027;
    color: #fff;
}
.upload-component-container{
    margin-top:60px;
}
.upload-component-container legend {
    border-bottom: 0;
    width:auto;
    margin:0 auto;
}
.upload-component-container .layui-upload-drag {
    margin: 0 auto;
    display: block;
    width: 80%;
    height: 150px;
}
.edit-container .upload-component-container .warning{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: right;
    cursor: pointer;
    color: #999;
    font-size: 10px;
    margin-right:5px;
}